body {
    padding-top: 30px;
}
form.inp {
    margin: 7px;

}
.started-tamplate {
    padding: 40px 15px;
}
form{
    width: 400px;
    max-width: 400px;
}

body.div.form.div {
    margin-top: 5px;
    margin: 10px;
}