<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Pages</h3>
<table class="table table-striped" style="width: 400px">
<? foreach($data['pages'] as $page_data) { ?>
    <tr>
        <td><b><?$page_data['title']?></b></td>
        <td align="right">
            <a href="/devionity/admin/pages/edit/><?$page_data['id']?>"><button class="btn btn-sm btn-primary">edit</button></a>
            <a href="/devionity/admin/pages/delete/><?$page_data['id']?>" onclick="return confirmDelete();"><button class="btn btn-sm btn-warning">delete</button></a>
        </td>
    </tr>
</table>
<br />
<div>
    <a href="/devionity/admin/pages/add/><?$page_data['id']?>"> <button class="btn btn-sm btn-success">New Page</button></a>
</div>
</body>
</html>