<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../webroot/css/style.css">
    <title>Title</title>
</head>
<body>

    <h3>Contact us:</h3>

<div class="container">
    <form action = "" method = "post">
        <div>
            <input type = "text" class="form-control inp" name = "name" placeholder="Your name..." />
        </div>
        <div>
            <input type = "email" class="form-control inp" name = "email" placeholder="Your email..." />
        </div>
        <div>
            <textarea  row = "10" col = "30" class="form-control inp" placeholder="Your message...">  </textarea>
        </div>
        <button class="btn btn-lg btn-success btn-block mar" type="submit"> Send </button>
    </form>
</div>
</body>
</html>