<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br />
<br />
    <h3 style="margin-left: 20px;">Contact us:</h3>

    <form action = "" method = "post" >
        <div>
            <input type = "text" class="form-control" style="margin: 5px;" name = "name" placeholder="Your name..." />
        </div>
        <div>
            <input type = "email" class="form-control" style="margin: 5px;" name = "email" placeholder="Your email..." />
        </div>
        <div>
            <textarea  row = "10" col = "30" class="form-control" style="margin: 5px;" placeholder="Your message...">  </textarea>
        </div>
        <button class="btn btn-lg btn-success btn-block" style="width: 80px;" type="submit"> Send </button>
    </form>
</body>
</html>